version: "3.9"

services:
  web:
    build: .
    container_name: django_web
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: .
    container_name: celery_worker
    command: celery -A core worker --loglevel=info --pool=solo
    volumes:
      - ./core:/app
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  frontend:
    build: ./nic-frontend
    container_name: react_frontend
    ports:
      - "3000:3000"
