version: "3.9"

services:
  web:
    build: ./core
    container_name: django_web
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - DEBUG=0

  celery:
    build: ./core
    container_name: celery_worker
    command: celery -A core worker -l info
    volumes:
      - ./core:/app
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
